# fly.toml app configuration file for legion
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'legion-frontend'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

  [build.args]
    # Empty URL = use relative paths, nginx proxies to internal backend
    VITE_API_URL = ''

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
