# fly.toml app configuration file generated for legion-frontend on 2025-12-02T13:38:03+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'legion-frontend'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

  [build.args]
    VITE_API_URL = 'http://legion-backend.fly.dev'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
